<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Framework Suite" parallel="tests">
    <listeners>
        <listener class-name="org.example.test_components.Listeners"/>
    </listeners>

    <test name="Submit Order" thread-count="5">
        <classes>
            <class name="org.example.tests.SubmitOrderTest"/>
        </classes>
    </test>
    <test name="Negative Scenarios" thread-count="5">
        <classes>
            <class name="org.example.tests.NegativeScenariosTests"/>
        </classes>
    </test>
</suite>